<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador QR</title>
    <link rel='stylesheet' href='/public/scss/style.css' />
    <link rel="icon" href="/public/img/codigoqr_pink.png" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Generador QR</h1>
            <p>Copia un URL o ingresa un texto para generar código QR</p>
        </header>
            <div class="form">
                <input type="text" spellcheck="false" placeholder="Ingresa texto o URL" />
            <section class="form_center">
                <button>Generar código QR</button>
                <button id="downloadBtn">Descargar código QR</button>
            </section>
            </div>
        <div class="qr-code">
            <img src="" alt="qr-code" />
        </div>
    </div>
    <script src="/public/js/script.js"></script>
</body>
</html>